*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --p-dark-blue: hsl(238, 29%, 16%);
  --p-soft-red: hsl(14, 88%, 65%);
  --n-dark-blue: hsl(237, 12%, 33%);
  --n-gray-blue: hsl(240, 6%, 50%);
  --b-violet: hsl(273, 75%, 66%);
  --b-blue: hsl(240, 73%, 65%);
  --d-light-blue: hsl(240, 5%, 91%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 1.6;
}
.container {
  background-image: linear-gradient(var(--b-violet), var(--b-blue));
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.faq-section {
  width: 20.5rem;
  margin-top: 10rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
  position: relative;
  height: 34rem;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 2.5rem -0.5rem rgba(0, 0, 0, 0.7);
}
.illustrate-desktop,
.illustrate-box {
  display: none;
}
.illustrate-mobile {
  /* border: 1px solid red; */
  position: absolute;
  top: -20%;
  left: 5%;
}
.faq-head {
  margin: 7.5rem 0 0.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: var(--p-dark-blue);
}
.faq-questions {
  padding: 0 1.5rem 1.5rem;
}
.faq-question {
  border-bottom: 1px solid var(--d-light-blue);
  padding: 1rem 0;
  font-size: 0.8rem;
}
.faq-toggle {
  display: flex;
  /* padding: 1rem 0; */
  cursor: pointer;
}
.question {
  flex: 1;
  pointer-events: none;
  color: var(--n-dark-blue);
}
.faq-toggle:hover .question {
  color: var(--p-soft-red);
}
.faq-toggle.active:hover .question {
  color: var(--p-dark-blue);
}
.toggle {
  transition: transform 250ms ease-in-out;
  pointer-events: none;
}
.answer {
  max-height: 0rem;
  line-height: 1.4;
  overflow: hidden;
  padding-right: 2rem;
  color: var(--n-gray-blue);
  transition: all 250ms ease-in-out;
}
.active .question {
  color: var(--p-dark-blue);
  font-weight: 700;
}
.active .toggle {
  transform: rotate(180deg);
}
.active + .answer {
  max-height: 5rem;
  padding-top: 0.5rem;
  /* overflow: visible; */
}
@media screen and (min-width: 64rem) {
  .faq-section {
    flex-direction: row;
    width: 58rem;
    background-image: none;
    gap: 1rem;
    margin-top: 3rem;
    height: 30rem;
  }
  .illustrate-mobile {
    display: none;
  }
  .faq-hero {
    display: grid;
    place-items: center;
    position: relative;
    /* border: 3px solid red; */
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 118% 75%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .illustrate-desktop {
    display: block;
    position: relative;
    top: -7%;
    left: -18%;
  }
  .illustrate-box {
    display: block;
    position: absolute;
    top: 33.5%;
    left: -10%;
  }
  .faq-main {
    max-width: 360px;
    margin-right: 5rem;
  }
  .faq-head {
    margin: 3rem 0 0.5rem;
    text-align: left;
  }
  .faq-questions {
    padding: 0 1.5rem 1.5rem 0;
  }
  .faq-question {
    padding: 1rem 0;
    font-size: 0.8rem;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
